In [73]:
import pandas as pd
import plotly.express as px
from category_encoders import *
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('../Data/loan_Default.csv',encoding='iso-8859-1')

In [3]:
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [4]:
df['MaritalStatus'].unique()

array(['divorced', 'Married', 'Divorced', 'SingleSDDF', 'Single',
       'Married\x85', 'SINGLE'], dtype=object)

In [5]:
fix={
    'divorced':'Divorced',
    'Married\x85':'Married',
    'SingleSDDF':'Single',
    'SINGLE':'Single'
}

In [6]:
df['MaritalStatus']=df['MaritalStatus'].replace(fix)

In [7]:
df.head(3)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1

In [22]:
primo['NumCreditLines']=primo['NumCreditLines'].astype('str')

In [24]:
enc = OrdinalEncoder()

In [37]:
primo=df.copy()

In [38]:
string_col=['Education', 'EmploymentType', 'MaritalStatus',
       'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner','NumCreditLines']

In [39]:
primo[string_col]=enc.fit_transform(primo[string_col])

In [42]:
df.head(3)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1

In [41]:
primo.head(3)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,1,1,1,1,1,1,1,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,2,1,2,2,2,1,1,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,2,2,1,1,1,2,2,1

In [48]:
target=primo['Default']

In [44]:
primo_final=primo.drop(columns=['LoanID','Default'])

In [51]:
X_train, X_test, y_train, y_test = train_test_split(primo_final, target, test_size=0.3, random_state=42)

In [65]:
logistic_model = LogisticRegression()

In [66]:
logistic_model

LogisticRegression()

In [67]:
logistic_model.fit(X_train,y_train)

LogisticRegression()

In [70]:
logistic_preds=logistic_model.predict(X_test)

In [74]:
logistic_accuracy = accuracy_score(y_test, logistic_preds)

In [75]:
logistic_accuracy

0.8835976763918805

In [77]:
test=pd.DataFrame({'ACTUAL':y_test,'PREDICTED':logistic_preds})

In [79]:
test[:50]

        ACTUAL  PREDICTED
51139        0          0
71005        0          0
35684        0          0
174087       0          0
137952       0          0
137678       0          0
74249        0          0
253344       0          0
219115       0          0
144898       0          0
180445       0          0
129150       0          0
158333       0          0
195656       0          0
41524        0          0
129379       0          0
87551        0          0
204450       0          0
86953        0          0
247337       1          0
195846       0          0
37176        0          0
189700       1          0
228299       0          0
230066       0          0
90323        0          0
71584        0          0
75158        0          0
158991       0          0
119112       0          0
29603        0          0
192733       0          0
247913       0          0
118258       0          0
233507       0          0
16421        0          0
207509       0          0
4298         0          0
95032        0          0
169594       0          0
95156        0          0
101039       0          0
39189        0          0
202208       0          0
21632        0          0
256          0          0
208849       1          0
201544       1          0
102664       0          0
198312       0          0

In [ ]:
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)
logistic_preds = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score(y_test, logistic_preds)
logistic_precision = precision_score(y_test, logistic_preds)
logistic_recall = recall_score(y_test, logistic_preds)
logistic_f1 = f1_score(y_test, logistic_preds)
logistic_confusion_matrix = confusion_matrix(y_test, logistic_preds)